* {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /* background-color: #003d29; */
}

::-webkit-scrollbar-thumb {
    background: #888;
}

/* infos */

.header-infos {
    font-family: "Gill Sans", sans-serif;
    font-size: small;
    display: flex;
    justify-content: space-between;
    height: 4vh;
    padding: 0.5% 5%;
    align-items: center;
    background-color: #003d29;
    color: white;
}

.drop-icon {
    width: 10px;
}

.header-left {
    flex: 1;
}

.header-middle {
    flex: 2;
    text-align: center;
}

.header-right {
    flex: 1;
    display: flex;
}

.language, .location {
    cursor: pointer;
    z-index: 2;
}

.language {
    margin-left: 25%;
    margin-right: 10%;
    position: relative;
}

.langs-ul {
    display: none;
}

.langs-ul-display {
    display: block;
    position: absolute;
    list-style: none;
    background-color: rgb(27, 27, 27);
    color: white;
    width: 80px;
    text-align: center;
}

.langs-ul-display li {
    padding: 7px;
    border: 1px white solid;
}

@media (min-width: 481px) and (max-width: 767px) {
    .header-infos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 14vh;
        padding: 0.5% 5%;
        background-color: #003d29;
    }

    .header-middle {
        align-self: center;
        flex: 1;
    }

    .header-right {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .language, .location {
        margin: 0 15px;
    }
}

@media (max-width: 480px) {


    .header-infos {
        display: flex;
        flex: 2;
        flex-direction: column;
        justify-content: space-around;
        height: 10vh;
        padding: 0.5% 5%;
        align-items: center;
        background-color: #003d29;
    }

    .header-middle {
        display: none;
        flex: 1;
    }

    .header-left {
        display: flex;
        align-items: center;
    }

    .language {
        margin-left: 0;
        margin-right: 0;
        position: relative;
    }

    .header-right {
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: space-around;
        height: 5vh;
        align-items: center;
    }

}

/* navbar */

nav .big-screen {
    font-family: "Gill Sans", sans-serif;
    font-size: medium;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 3%;
    height: 13vh;
}

nav .small-screen-nav {
    display: none;
    font-family: "Gill Sans", sans-serif;
    font-size: medium;
    font-weight: bold;
}

.logo {
    flex: 1;
}

.account-cart {
    align-items: center;
    flex: 1.4;
    display: flex;
    justify-content: space-around;
}

.menu {
    align-items: center;
    flex: 4;
    display: flex;
    justify-content: space-around;
    padding: 0 2%;
}

.menu ul {
    align-items: center;
    flex: 6;
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
}

.menu li, .menu input, .logo {
    cursor: pointer;
}

.menu li:hover {
    color: grey;
}

.menu .search-bar {
    align-items: center;
    flex: 4;
}

.account, .cart {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.account-cart img {
    width: 25px;
    opacity: 0.8;
}

.account-cart p {
    margin-left: 10px;
}

.search-bar {
    position: relative;
}

.search-bar svg {
    position: absolute;
    right: 5%;
    top: 5px;
}

.search-bar input {
    width: 100%;
    padding: 0 10px;
    height: 5vh;
    border-radius: 20px;
    border: 0;
    background-color: white;
    outline: 1px solid black;
}

.search-bar input:focus {
    outline: solid 1px rgb(32, 152, 192);
}

.category {
    display: flex;
    justify-content: space-around;
    width: 25%;
    position: relative;
}

.category:hover {
    border-bottom: solid 1px #003d29;
}

.category-icon {
    width: 20px;
}

@media (max-width: 1028px) {
    .menu ul, .search-bar {
        display: none;
    }

    .extand-icon {
        display: flex;
        flex-direction: column;
        height: 20px;
        justify-content: space-around;
        margin-left: 30px;
        cursor: pointer;
    }

    .extand-icon div {
        background-color: black;
        height: 4px;
        width: 20px;
        border-radius: 4px;
    }

    .account-cart {
        position: absolute;
        left: 45%;
    }

    .account-cart .cart img {
        margin-left: 10px;
    }

    nav .small-screen-nav {
        display: block;
        background-color: #003d29;
        height: auto;
        width: 100%;
    }

    .small-screen-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    .small-screen-nav .category {
        display: flex;
        justify-content: space-around;
        width: 25%;
        position: relative;
    }

    .small-screen-nav .category-icon {
        width: 20px;
        margin-left: 10px;
    }

    .small-screen-nav li {
        cursor: pointer;
        margin: 20px 0;
    }

    .small-screen-nav li:hover {
        color: grey;
    }
}

@media (max-width: 480px) {
    .account-cart {
        display: none;
    }
}

/* category */

.category-card {
    background-color: rgb(38, 38, 38);
    position: absolute;
    width: 680px;
    height: 340px;
    top: 106px;
    left: 50%;
    margin-left: -340px;
    z-index: 2;
    padding: 30px;
    font-size: small;
    border-radius: 10px;
    order: 1;
}

.category-card h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.card-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
}

.card {
    width: 47%;
    height: 55px;
    margin-top: 30px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: rgb(46, 46, 46);
}

.card img {
    width: 55px;
    height: 55px;
    border-radius: 5px;
}

.card .details {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
}

.details p {
    font-weight: 100;
    color: rgb(193, 191, 191);
}


@media (max-width: 1028px) {

    .small-screen-nav {
        border-radius: 10px;
    }

    .category-card {
        order: 0;
        position: static;
        width: 400px;
        margin: 0 auto;
    }

    .small-screen-nav {
        color: white;
        display: none;
        transition: display 5s;
        transition-delay: 1s;
    }

}

@media (max-width: 510px) {
    .category-card {
        width: 200px;
        height: 600px;
    }

    .small-screen-nav {
        transition: display 5s;
        transition-delay: 1s;
    }

    .card {
        cursor: pointer;
        display: none;
        width: 100%;
        height: 55px;
        margin-top: 30px;
        border-radius: 5px;
        padding: 5px;
        display: flex;
        align-items: center;
        background-color: rgb(46, 46, 46);
        overflow: fixed;
    }
}

/* Description */

.description {
    background-color: bisque;
    background-image: url("https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e58c0997219ec01eb6_background-bg-min.png");
    background-size: cover;
    height: 100vh;
    color: #003d29;
    position: relative;
    font-family: Inter, sans-serif;
}

.h1-1, .h1-2 {
    position: absolute;
    margin-left: 50px;
    font-size: 65px;
}

.h1-1 {
    top: 20%;
}

.h1-2 {
    top: 35%;
}

.d-paragraph {
    position: absolute;
    margin-left: 50px;
    top: 52%;
    font-size: 22px;
    width: 500px;
    line-height: 1.6;
}

.description button {
    cursor: pointer;
    position: absolute;
    margin-left: 50px;
    width: 180px;
    height: 60px;
    border: none;
    background-color: #003d29;
    border-radius: 30px;
    top: 70%;
    color: white;
    font-size: 1.2em;
}

@media (max-width: 770px) {

    .description {
        height: 80vh;
    }

    .description button {
        width: 150px;
        border-radius: 25px;
        margin-left: 20px;
        height: 50px;
        top: 75%;
    }

    .h1-1, .h1-2 {
        margin-left: 20px;
        font-size: 45px;
    }

    .h1-1 {
        top: 20%;
    }

    .h1-2 {
        top: 32%;
    }

    .d-paragraph {
        margin-left: 20px;
        font-size: 16px;
        width: auto;
        max-width: 500px;
    }
}

@media (max-width: 480px) {

    .description button {
        width: 120px;
        border-radius: 18px;
        margin-left: 20px;
        font-size: .8em;
        font-weight: bold;
        height: 40px;
        top: 65%;
    }

    .description {
        height: 65vh;
    }

    .h1-1, .h1-2 {
        font-size: 35px;
    }

    .h1-1 {
        top: 20%;
    }

    .h1-2 {
        top: 30%;
    }

    .d-paragraph {
        top: 47%;
    }
}

/* top categories */

.top-categories {
    height: 50vh;
    width: 100%;
    max-width: 1360px;
    position: relative;
}

/* .top-categories img:hover {
    transform: scale(1.5);
    overflow: hidden;
} */

.top-categories h2 {
    opacity: .8;
    margin-left: 40px;
    margin-top: 10%;
    font-size: 28px;
}

.top-categories .photos {
    top: 10%;
    width: calc(100% - 60px);
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 40px;
}

/* .top-categories div {
    width: 15%;
    position: relative;
} */

.top-categories .top-c-pic {
    /* background-color: black; */
    width: 15%;
    overflow: hidden;
    border-radius: 12px;
    font-family: sans-serif;
    position: relative;
}

.top-categories div p {
    color: white;
    position: absolute;
    width: 100%;
    top: 10%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.top-categories img {
    width: 100%;
    border-radius: 12px;
    transition: transform .3s ease;
}

.top-categories img:hover {
    overflow: hidden;
    border-radius: 12px;
    transform: scale(1.2);
}

@media (max-width: 990px) {
    .top-categories {
        height: auto;
    }

    .top-categories h2 {
        margin-left: 30px;
        top: 5%;
    }

    .top-categories .photos {
        top: 15%;
        flex-wrap: wrap;
        margin-bottom: 40px;
        margin-left: 30px;
    }

    .top-categories .top-c-pic {
        width: 30%;
        margin-bottom: 10px;
    }
}

@media (max-width: 770px) {

    .top-categories .photos {
        top: 10%;
        width: calc(100% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }

    .top-categories .photos {}

    .top-categories h2 {
        margin-left: 15px;
        margin-top: 60px;
    }

    .top-categories .top-c-pic {
        width: 49%;
        margin-bottom: 10px;
    }

    .top-categories h2 {
        font-size: 24px;
    }
}

/* slides */

.slides-container {
    width: calc(100% - 40px);
    overflow-x: scroll;
    margin-left: -10px;
    /* height: auto; */
    height: 80vh;
    scroll-behavior: smooth;
    position: relative;
}

.h2-deals {
    /* display: none; */
    opacity: .8;
    margin-left: 40px;
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.slider {
    height: auto;
    width: 200%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter, sans-serif;
    height: 100%;
    position: relative;
}


.slider .product {
    width: 16%;
    margin-right: 20px;
    height: 100%;
    /* white-space: nowrap; */
    /* pointer-events: none; */
}

.right-button, .left-button {
    position: sticky;
    margin-bottom: 20px;
    width: 20px;
    height: 20px;
    color: black;
    background-color: rgb(198, 197, 197);
    border-radius: 25px;
    padding: 15px;
    outline: none;
    cursor: pointer;
    z-index: 10;
    /* added to center vertically */
    /* transition: transform 0.1s linear; */
}

.right-button {
    /* transform: translateX(-50%); */
    margin-right: 0;
    right: 0;
}

.left-button {
    transform: translateX(50%);
    margin-right: 0;
    left: 0;
}

.right-button:active {
    transform: translateY(-50%), scale(.9);
}

.slider .product-pic {
    background-color: #f5f6f6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    overflow: hidden;
    /* user-select: none; */
    pointer-events: all;
    /* background-color: #003d29; */
}

.slider .product-pic img {
    width: 60%;
    height: 60%;
    border-radius: 20px;
    transition: .5s;
    /* object-fit: cover; */
    /* background-size: cover; */
}

.slider .product-pic:hover img {
    transform: scale(1.3);
}

.slider .name-and-prix {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    font-weight: 600;
    font-size: 18px;
    color: #231f1e;
    width: 100%;
    overflow: hidden;
}

.slider .name {
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
}

.slider .produt-description {
    width: 100%;
    font-size: 0.8em;
    opacity: .7;
    margin-top: 10px;
    overflow: hidden;
    height: 10%;
    /* margin: 10px auto; */
}

.slider .rating {
    display: flex;
    justify-content: left;
    margin-top: 10px;
}

.slider button {
    color: black;
    margin-top: 10px;
    width: 35%;
    /* height: auto; */
    font-size: 15px;
    padding: 8px;
    border-radius: 30px;
    border: 1px solid rgb(11, 11, 11, .4);
    background-color: transparent;
    cursor: pointer;
}

.slider button:hover {
    background-color: #003d29;
    color: white;
}

.slider .stars {
    display: flex;
}

.slider .stars p {
    margin-right: 10px;
    color: #098f62;
    font-weight: bold;
}

.slider .stars .start-icon {
    color: #098f62;
}

@media (max-width: 990px) {
    .slides-container {
        /* width: calc(100% - 30px); */
    }

    .slider {
        /* height: auto; */
        width: 300%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .slider .product {
        /* display: none; */
        /* width: calc(100% / 2); */
        margin-right: 40px;
        /* background-color: #003d29; */
    }

    .h2-deals {
        margin-left: 15px;
        font-size: 24px;
    }

    .slider button {
        margin-top: 10px;
        width: 60%;
        font-size: 12px;
        padding: 8px;
        /* background-color: #eee; */
    }
}

@media (max-width: 600px) {

    .slider .produt-description {
        font-size: .7em;
        /* display: none; */

    }

    .slider .name {
        font-size: 12px;
    }

    .slides-container {
        height: 70vh;
        width: calc(100% - 15px);
        overflow-x: scroll;
        margin-left: 15px;
    }

    .slider {
        width: 600%;
    }

    .slider .product {
        width: 100%;
        margin-right: 0;
        margin-right: 20px;
    }

    .h2-deals {
        margin-left: 10px;
        font-size: 24px;
    }

    .slider button {
        margin-top: 10px;
        width: 40%;
        font-size: 12px;
        padding: 8px;
        /* background-color: #eee; */
    }

    .slider .product-pic {
        background-color: #f5f6f6;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60%;
        /* background-color: #003d29; */
    }

    .right-button, .left-button {
        display: none;
    }
}

/* bottom categories */

.bottom-categories h2 {
    opacity: .8;
    margin-left: 40px;
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.bottom-categories ul {
    list-style: none;
    display: flex;
    justify-content: left;
    margin: 30px 0 10px 40px;
    max-width: 800px;
    flex-wrap: wrap;
}

.bottom-categories ul li {
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(59, 59, 59, .5);
    border-radius: 20px;
    cursor: pointer;
}

.bottom-categories .category-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 140vh;
    margin-left: 40px;
}

.bottom-categories .product {
    width: 23%;
    height: 50%;
    margin-top: 10px;
    margin-right: 15px;
}

.bottom-categories .product .product-pic {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 10px;
}

.bottom-categories .product img {
    width: 60%;
    height: 60%;
    transition: .5s;
    border-radius: 10px;
}

.bottom-categories .selected {
    background-color: #003d29;
    color: white;
}

.bottom-categories .product-pic:hover img {
    transform: scale(1.3);
}

.bottom-categories .name-and-prix {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    font-weight: 600;
    font-size: 18px;
    color: #231f1e;
    width: 100%;
    overflow: hidden;
}

.bottom-categories .name {
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
}

.bottom-categories .produt-description {
    width: 100%;
    font-size: 0.8em;
    opacity: .7;
    margin-top: 10px;
    overflow: hidden;
    height: 10%;
    /* margin: 10px auto; */
}

.bottom-categories .rating {
    display: flex;
    justify-content: left;
    margin-top: 10px;
}

.bottom-categories button {
    color: black;
    margin-top: 10px;
    width: 40%;
    font-size: 12px;
    padding: 8px;
    border-radius: 30px;
    border: 1px solid rgb(11, 11, 11, .4);
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}

.bottom-categories .stars {
    display: flex;
}

.bottom-categories button:hover {
    background-color: #003d29;
    color: white;
}

.bottom-categories .stars p {
    margin-right: 10px;
    color: #08b328;
    font-weight: bold;
}

.bottom-categories .stars .start-icon {
    color: #08b328;
}

@media (max-width: 990px) {

    .bottom-categories h2 {
        margin-left: 20px;
    }

    .bottom-categories ul {
        margin: 30px 0 10px 20px;
    }

    .bottom-categories ul li {
        margin-right: 10px;
        padding: 10px;
    }

    .bottom-categories .category-items {
        height: 240vh;
        margin-left: 20px;
    }

    .bottom-categories .product {
        width: calc(48% - 5px);
        height: 30%;
        margin-top: 10px;
        margin-right: 10px;
    }

    .bottom-categories .product .product-pic {
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        border-radius: 10px;
    }

    .bottom-categories .product img {
        width: 60%;
        height: 60%;
        transition: .5s;
        border-radius: 10px;
    }


}

@media (max-width: 770px) {

    .bottom-categories .category-items {
        height: 180vh;
        margin-left: 20px;
    }

    .bottom-categories .product .product-pic {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        border-radius: 10px;
    }

    .bottom-categories button {
        margin-top: 10px;
        width: 60%;
        font-size: 12px;
        padding: 8px;
        /* background-color: #eee; */
    }

    .bottom-categories .product {
        margin-top: 0;
    }

    .bottom-categories .produt-description {
        font-size: .7em;
        /* display: none; */

    }

    .bottom-categories .name {
        font-size: 14px;
    }
}


/* shopping-cart */

.shopping-cart {
    position: fixed;
    left: 20%;
    top: 15vh;
    /* padding: 1rem; */
    background: #fff;
    border-radius: 5px;
    height: 70%;
    width: 60%;
    animation: slide-down 300ms ease-out forwards;
    overflow: scroll;
    z-index: 30;
    border-radius: 20px;
}


.icons-container {
    width: 30px;
    height: 30px;
    background-color: white;
    position: fixed;
    right: 7%;
    bottom: 7%;
    padding: 20px;
    cursor: pointer;
    border-radius: 70px;
    box-shadow: 1px 1px 20px rgb(15, 15, 15, .5);
}

.icons-container:hover {
    background-color: #aaa;
}

.icons-container .cart-icon {
    width: 100%;
    height: 100%;
}

#cart {
    height: 100%;
    width: 100%;
}

.icons-container .items-selected {
    background-color: #003d29;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
    height: 20px;
    line-height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.shopping-cart .the-cart {
    width: 100%;
    overflow-y: scroll;
    /* height: 400px; */
}

.the-cart img {
    width: 80px;
    height: 80px;
}

.the-cart {
    position: relative;
    height: 100%;
    width: 100%;
}

.shopping-cart .header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
    background-color: #ddd;
    position: fixed;
    top: 10px;
    border-radius: 10px 10px 0 0;
}

.items-holder {
    margin-top: 60px;
}

.item-holder {
    display: flex;
    justify-content: space-between;
    height: 160px;
    line-height: 150px;
    border-bottom: 1px solid #ddd;
}

.shopping-cart .pic-holder {
    display: none;
    width: 120px;
    height: 120px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}

.shopping-cart .infos p {
    line-height: 20px;
    margin: 10px;
    font-weight: bold;
    overflow: hidden;
}

.shopping-cart .infos, .shopping-cart .amount, .shopping-cart .price, .shopping-cart .total {
    font-weight: bold;
    width: 25%;
}

.shopping-cart .price, .shopping-cart .total {
    text-align: center;
}

.shopping-cart .amount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping-cart .amount div {
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background-color: #003d29;
    line-height: 40px;
    text-align: center;
    margin: 10px;
    color: white;
}

.shopping-cart .amount button {
    height: 40px;
    width: 40px;
    /* outline: none; */
    border: none;
    background-color: rgb(170, 167, 167, .2);
    cursor: pointer;
    font-weight: bold;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}




.cart-content {
    overflow-y: auto;
    max-height: 100%;
}

.total-price {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.total-price p {
    width: 25%;
    text-align: center;
}

.shopping-cart .name {
    font-size: 12px;
    font-weight: bold;
}

.shopping-cart .total {
    display: flex;
    justify-content: right;
    align-items: center;
}

.shopping-cart .total .remove {
    margin-left: 20px;
    height: 30px;
    width: 60px;
    background-color: rgba(242, 26, 26, 0.9);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.shopping-cart .total .remove:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
}

#cart {
    display: flex;
    justify-content: center;
}

@media (max-width: 990px) {
    .shopping-cart {
        width: 80%;
        left: 10%;
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}